.dash {
  display: inline-block;
  background: black;
  border-radius: 5px;
  width: 10px;
  height: 2px;
}
.col-xs-1.text-center {
  padding: 0px;
  width: 1%;
}
.ssn {
  min-width: 75px;
  max-width: 100px;
}
.ssn2 {
  min-width: 50px;
  max-width: 75px;
}
.container {
  background-color: lightblue;
  border-radius: 10px;
  margin-top: 80px;
}
p, .messages {
  text-align: center;
  font-size: 18px;
}
.navbar.navbar-default {
  margin-bottom: 0px;
}
.navbar.messages {
  font-weight: bold;
  position: absolute;
  width: 100%;
}
.messages.success {
  background-color: limegreen
}
.messages.warning {
  background-color: orangered
}
span.s-label {
  font-size: 16px;
  font-weight: bold;
}
img.img-link:hover {
  filter: saturate(300%);
}
img.img-link {
  margin-bottom: 50px;
  border: 3px solid;
  border-radius: 12px;
}