{% extends "layout.html" %}
{% load bootstrap3 %}
{% block content %}

  <h2 class="text-center">Patient Check In</h2>
  <form id="checkin-form" method="post" action="{% url 'checkin-verify' %}" class="col-md-offset-2 col-md-8">
    {% csrf_token %}
      
    {% bootstrap_field form.first_name %}
    {% bootstrap_field form.last_name %}
    
    <div class="form-group">
      {% bootstrap_label form.ssn1.label %}
      <div class="row">
        {% bootstrap_field form.ssn1 show_label=False form_group_class='col-xs-3 col-sm-2 ssn' placeholder='123'%}
        <div class="col-xs-1 text-center"><span class="dash"></span></div>
        {% bootstrap_field form.ssn2 show_label=False form_group_class='col-xs-3 col-sm-2 ssn2' placeholder='45'%}
        <div class="col-xs-1 text-center"><span class="dash"></span></div>
        {% bootstrap_field form.ssn3 show_label=False form_group_class='col-xs-3 col-sm-2 ssn' placeholder='6789'%}
      </div>
    </div>
    
    {% buttons %}
        <button type="submit" class="btn btn-primary">
          Submit
        </button>
    {% endbuttons %}

  </form>

{% endblock content %}