<!DOCTYPE html>
{% load staticfiles %}
{% load bootstrap3 %}
<html>
<head>
  <title>Check-In</title>
  <link rel="stylesheet" type="text/css" href="{% static "style.css" %}">
  {% bootstrap_css %}
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  {% bootstrap_javascript %}
  <script type="text/javascript" src="{% static "app.js" %}"></script>
</head>
<body>
  {% block nav %}
    <nav class="navbar navbar-default">
      <ul class="nav navbar-nav">
        <li><a href="{% url 'home' %}">Home</a></li>
      {% if user.is_authenticated %}
        <li><a href="{% url 'logout' %}">Logout</a></li>
        <li><a href="{% url 'checkin' %}">Check In</a></li>
        {% if user.profile.is_doctor %}
          <li><a href="/patients">Appointments</a></li>
        {% endif %}
      {% else %}
        <li><a href="{% url 'social:begin' 'drchrono' %}">Login</a></li>
      {% endif %}
      </ul>
    </nav>
  {% endblock nav %}

  {% if messages %}
    {% for message in messages %}
    <nav class="navbar navbar-default messages {% if message.tags %} {{ message.tags }}{% endif %}">
      {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
      {{ message }}
    </nav>
    {% endfor %}
  {% endif %}

  <div class="container" id="container">
    {% block content %}
    {% endblock content %}
  </div>
</body>
</html>