<!DOCTYPE html>
{% load bootstrap3 %}
<html>
<head>
  <title>Check-In</title>
  {% bootstrap_css %}
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  {% bootstrap_javascript %}
</head>
<body>
  {% block nav %}
    <nav class="navbar navbar-default">
      <ul class="nav navbar-nav">
        <li><a href="{% url 'home' %}">Home</a></li>
      {% if user.is_authenticated %}
        <li><a href="{% url 'logout' %}">Logout</a></li>
        {% if user.userprofile.is_doctor %}
          <li><a href="/patients">Patient List</a></li>
        {% endif %}
      {% else %}
        <li><a href="{% url 'social:begin' 'drchrono' %}">Login</a></li>
      {% endif %}
      </ul>
    </nav>
  {% endblock nav %}

  {% block content %}
    
  {% endblock content %}
</body>
</html>